@font-face {
  font-family: "MyFont";
  src: url("./fonts/Inter-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("./images/Back.jpg"); /* استخدم اسم الصورة التي قمت بتحميلها */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: "MyFont", sans-serif;
}

main {
  display: flex;
  justify-content: flex-end; /* محاذاة المحتوى بالكامل إلى اليمين */
  align-items: center;
  height: 100vh; /* ارتفاع الصفحة بالكامل */
  padding-right: 20px; /* مساحة بسيطة على الجانب الأيمن */
}

.card {
  background: linear-gradient(135deg, #0072ff, #005f7a); /* تدرج أزرق */
  color: white; /* لون النص */
  width: 28rem; /* عرض الكارد */
  border-radius: 15px; /* زوايا دائرية للكارد */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* ظل للكارد */
  padding: 20px; /* حشوة داخل الكارد */
}

.card img {
  border-radius: 50%; /* شكل دائري للصورة */
  width: 120px; /* عرض الصورة */
  height: 120px; /* ارتفاع الصورة */
  object-fit: cover; /* احتواء الصورة بشكل جيد */
  border: 5px solid #3057c2; /* إطار دائري بلون معين */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.521); /* ظل للإطار */
  padding: 5px; /* مساحة بين الصورة والإطار */
  background: linear-gradient(
    135deg,
    #f1f1f1,
    #0800e8bc
  ); /* تدرج للخلفية للإطار */
}

.card img:hover {
  transform: scale(1.2);
  background: linear-gradient(135deg, #f1f1f1, #ff0000);
}

.card-text {
  transition: transform 0.3s ease;
}
.card-title {
  transition: transform 0.3s ease;
  font-size: 30px;
}

.card-title:hover,
.card-text:hover {
  transform: scale(1.1); /* تكبير النص عند التحويم */
  color: #ff0000;
}

.nav-tabs .nav-link {
  color: white; /* لون النص */
  background-color: rgba(0, 114, 255, 0.7); /* خلفية التابات */
}

.nav-tabs .nav-link:hover {
  transform: scale(1.2);
  color: red;
}

.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.2); /* لون الخلفية للتاب النشط */
}

.btn {
  background-color: #0055de; /* لون الزر */
  color: white; /* لون النص */
  border-radius: 8px; /* زوايا دائرية للأزرار */
}

.btn:hover {
  background-color: #ff0000; /* لون الزر عند التحويم */
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.nav-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.605); /* خط أسود أسفل القائمة */
}
